h1{font-size: 70px; margin-left: 100px; margin-right: 100px;
    text-align: center; font-family: 'Poppins', sans-serif;}
img{width: 40%; margin-left: 80px;}
body{margin: 50px;}
#cent{margin-left: 30%; margin-right: 30%;}
h2{font-size: 50px; margin-left: 100px; margin-right: 100px;
    text-align: center; font-family: 'Poppins', sans-serif;}